// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
};

@mixin respond-to($size, $range) {
  @each $min, $max in $range {
    @if $size == small {
      @media (max-width: $max) { @content; }
    } @else if $size == extra-large {
      @media (min-width: $min) { @content; }
    } @else {
      @media (min-width: $min) and (max-width: $max) { @content }
    }
  }
};

@each $size, $range in $screen-size-path-map {
  @include respond-to($size, $range) {
    ion-content {
		background-image: url(map_get($density-path-map, $size) + "/coffee_health_benefits.9.png");
	}
  }
};